.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: antiquewhite;
    text-align: left;
    padding: 10px;
    z-index: 100;
}

.fa-church{
    font-size: 4rem;
}

.chat-wrapper {
    margin: 120px 0;
    width: 60%;
    display: grid;
    grid-gap: 10px;
    position: relative;
}

.chat {
    text-align: -webkit-center;
}

.row {
    margin-left: 0 !important;
    display: block !important;
    background-color: antiquewhite;
    width: 100% !important;
}

.spinner{
    position: absolute;
    background-color: #0000004b;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: antiquewhite;
}

.fa-spinner{
    position: relative;
    margin: 0;
}

.chat-inner{
    overflow-y: auto;
    max-height: 400px;
    display: grid !important;
    grid-gap: 15px;
    background-color: transparent;
    text-align: left;
}

.message{
    background-color: antiquewhite;
    display: flex;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    font-size: 1.7rem;
    max-width: 50%;
    width: fit-content;
}

.message .data{
    width: 100%;
}

.message img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    user-select: none;
}

.message-createdAt{
    margin-top: 5px;
    text-align: right;
    font-size: 1.2rem;
    color: #5c5b5b;
    user-select: none;
}

.breaker{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    margin: auto 0;
    user-select: none;
}

.breaker::before, .breaker::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #606c76;
}

.breaker::before {
    margin-right: .25em;
}

.breaker::after {
    margin-left: .25em;
}

@media(max-width:800px){
    .message{
        max-width: 100%;
    }
}

@media(max-width:400px){
    .message{
        max-width: 100%;
    }
    .chat-wrapper{
        width: 100%;
    }
    .chat-inner{
        max-height: 100%;
    }
}

